%p#notice= notice

%p
  %b Sys:
  = @pds_rf.sys
%p
  %b Project:
  = @pds_rf.Project
%p
  %b Name ru:
  = @pds_rf.name_RU
%p
  %b Name:
  = @pds_rf.name
%p
  %b Tag ru:
  = @pds_rf.tag_RU
%p
  %b Desc:
  = @pds_rf.Desc
%p
  %b Desc en:
  = @pds_rf.Desc_EN
%p
  %b Range:
  = @pds_rf.range
%p
  %b Unit:
  = @pds_rf.Unit
%p
  %b Type:
  = @pds_rf.type
%p
  %b Type fb:
  = @pds_rf.Type_FB
%p
  %b Unit fb:
  = @pds_rf.unit_FB
%p
  %b Range fb:
  = @pds_rf.range_FB
%p
  %b Rate:
  = @pds_rf.rate
%p
  %b Ptag:
  = @pds_rf.Ptag
%p
  %b Sd n:
  = @pds_rf.sd_N
%p
  %b T:
  = @pds_rf.t
%p
  %b Typerf:
  = @pds_rf.typerf
%p
  %b Scale:
  = @pds_rf.scale
%p
  %b Frfid:
  = @pds_rf.frfID

= link_to 'Edit', edit_pds_rf_path(@pds_rf)
\|
= link_to 'Back', pds_rves_path
