%p#notice= notice

%p
  %b Project:
  = @hw_ic.Project
%p
  %b Ref:
  = @hw_ic.ref
%p
  %b Ped:
  = @hw_ic.ped
%p
  %b Rev:
  = @hw_ic.rev
%p
  %b Tag no:
  = @hw_ic.tag_no
%p
  %b Uniqueptag:
  = @hw_ic.UniquePTAG
%p
  %b Un:
  = @hw_ic.un
%p
  %b Bv:
  = @hw_ic.bv
%p
  %b Panel:
  = @hw_ic.panel
%p
  %b Coord:
  = @hw_ic.coord
%p
  %b Scalemin:
  = @hw_ic.scaleMin
%p
  %b Scalemax:
  = @hw_ic.scaleMax
%p
  %b Unit:
  = @hw_ic.Unit
%p
  %b Description:
  = @hw_ic.Description
%p
  %b T:
  = @hw_ic.t
%p
  %b Type:
  = @hw_ic.Type
%p
  %b Sys:
  = @hw_ic.sys
%p
  %b Description en:
  = @hw_ic.Description_EN
%p
  %b Panel:
  = @hw_ic.panel
%p
  %b Suffix:
  = @hw_ic.suffix
%p
  %b Version:
  = @hw_ic.version
%p
  %b Mark:
  = @hw_ic.mark

= link_to 'Edit', edit_hw_ic_path(@hw_ic)
\|
= link_to 'Back', hw_ics_path
