%h1
  = title

= grid(@grid, show_filters: false, class: 'table editable-table') do |g|

  - g.column name: lt(:pds_syslist, model).html_safe,
   attribute: 'sys' do |model|
    - editable_select(model, 'sys', 'system')

  - ['IC', 'ctrl_power', 't'].each do |attribute|
    - g.column name: mt(attribute, model), attribute: attribute do |model|
      - editable_input(model, attribute)

  - g.column do |object|
    - edit_button(object)

= link_to url_for(controller: :general, action: :new), class: 'btn btn-default' do
  = "Добавить #{model}"
  = content_tag(:span, '', class: "fa fa-pencil")

= link_to url_for(controller: :general, action: :index, format: :csv), class: 'btn btn-primary', target: '_blank' do
  = "Скачать в CSV"
  = content_tag(:span, '', class: "fa fa-save")

= link_to url_for(controller: :general, action: :index, format: :xlsx), class: 'btn btn-primary', target: '_blank' do
  = "Скачать в XLSx"
  = content_tag(:span, '', class: "fa fa-save")

:javascript
  var modelName = "pds_lamp";
  var url = "#{ url_for(controller: :general, action: :create) }";
= javascript_include_tag 'table_inline_edit'