%p#notice= notice

%p
  %b Ic:
  = @pds_lamp.IC
%p
  %b Sys:
  = @pds_lamp.sys
%p
  %b Project:
  = @pds_lamp.Project
%p
  %b Ctrl power:
  = @pds_lamp.ctrl_power
%p
  %b T:
  = @pds_lamp.t

= link_to 'Edit', edit_pds_lamp_path(@pds_lamp)
\|
= link_to 'Back', pds_lamps_path
