%p#notice= notice

%p
  %b Sdtitle:
  = @pds_sd.SdTitle
%p
  %b Sys:
  = @pds_sd.sys
%p
  %b Project:
  = @pds_sd.Project
%p
  %b Title en:
  = @pds_sd.title_EN
%p
  %b Numb:
  = @pds_sd.Numb
%p
  %b Blobobj:
  = @pds_sd.BlobObj
%p
  %b T:
  = @pds_sd.t
%p
  %b From sapfir:
  = @pds_sd.from_sapfir

= link_to 'Edit', edit_pds_sd_path(@pds_sd)
\|
= link_to 'Back', pds_sds_path
