= form_for @pds_ppca do |f|
  - if @pds_ppca.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_ppca.errors.count, "error")} prohibited this pds_ppca from being saved:"
      %ul
        - @pds_ppca.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :Shifr
    = f.text_field :Shifr
  .field
    = f.label :Key
    = f.text_field :Key
  .field
    = f.label :identif
    = f.text_field :identif
  .field
    = f.label :Description
    = f.text_area :Description
  .field
    = f.label :Description_EN
    = f.text_area :Description_EN
  .field
    = f.label :Detector
    = f.number_field :Detector
  .field
    = f.label :Unit
    = f.text_field :Unit
  .field
    = f.label :L_lim
    = f.text_field :L_lim
  .field
    = f.label :U_lim
    = f.text_field :U_lim
  .field
    = f.label :nom
    = f.text_field :nom
  .field
    = f.label :LA
    = f.text_field :LA
  .field
    = f.label :LW
    = f.text_field :LW
  .field
    = f.label :HW
    = f.text_field :HW
  .field
    = f.label :HA
    = f.text_field :HA
  .field
    = f.label :t
    = f.datetime_select :t
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :power
    = f.number_field :power
  .field
    = f.label :UnitID
    = f.number_field :UnitID
  .actions
    = f.submit 'Save'
