%p#notice= notice

%p
  %b Project:
  = @pds_ppca.Project
%p
  %b Sys:
  = @pds_ppca.sys
%p
  %b Shifr:
  = @pds_ppca.Shifr
%p
  %b Key:
  = @pds_ppca.Key
%p
  %b Identif:
  = @pds_ppca.identif
%p
  %b Description:
  = @pds_ppca.Description
%p
  %b Description en:
  = @pds_ppca.Description_EN
%p
  %b Detector:
  = @pds_ppca.Detector
%p
  %b Unit:
  = @pds_ppca.Unit
%p
  %b L lim:
  = @pds_ppca.L_lim
%p
  %b U lim:
  = @pds_ppca.U_lim
%p
  %b Nom:
  = @pds_ppca.nom
%p
  %b La:
  = @pds_ppca.LA
%p
  %b Lw:
  = @pds_ppca.LW
%p
  %b Hw:
  = @pds_ppca.HW
%p
  %b Ha:
  = @pds_ppca.HA
%p
  %b T:
  = @pds_ppca.t
%p
  %b Code:
  = @pds_ppca.code
%p
  %b Power:
  = @pds_ppca.power
%p
  %b Unitid:
  = @pds_ppca.UnitID

= link_to 'Edit', edit_pds_ppca_path(@pds_ppca)
\|
= link_to 'Back', pds_ppcas_path
