= form_for @tblbinary do |f|
  - if @tblbinary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tblbinary.errors.count, "error")} prohibited this tblbinary from being saved:"
      %ul
        - @tblbinary.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Title
    = f.text_field :Title
  .field
    = f.label :Type
    = f.text_field :Type
  .field
    = f.label :Length
    = f.number_field :Length
  .field
    = f.label :binObj
    = f.text_field :binObj
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
