%p#notice= notice

%p
  %b Title:
  = @tblbinary.Title
%p
  %b Type:
  = @tblbinary.Type
%p
  %b Length:
  = @tblbinary.Length
%p
  %b Binobj:
  = @tblbinary.binObj
%p
  %b T:
  = @tblbinary.t

= link_to 'Edit', edit_tblbinary_path(@tblbinary)
\|
= link_to 'Back', tblbinaries_path
