%h1 Listing pds_ejectors

%table
  %thead
    %tr
      %th Kks
      %th Shortdesc
      %th Desc en
      %th Capacity
      %th Level
      %th Room
      %th Project
      %th Sys
      %th Eq type
      %th Unit
      %th Sd n
      %th
      %th
      %th
      
  %tbody
    - @pds_ejectors.each do |pds_ejector|
      %tr
        %td= pds_ejector.kks
        %td= pds_ejector.ShortDesc
        %td= pds_ejector.Desc_EN
        %td= pds_ejector.capacity
        %td= pds_ejector.level
        %td= pds_ejector.room
        %td= pds_ejector.Project
        %td= pds_ejector.sys
        %td= pds_ejector.eq_type
        %td= pds_ejector.Unit
        %td= pds_ejector.sd_N
        %td= link_to 'Show', pds_ejector
        %td= link_to 'Edit', edit_pds_ejector_path(pds_ejector)
        %td= link_to 'Destroy', pds_ejector, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds ejector', new_pds_ejector_path
