%p#notice= notice

%p
  %b Kks:
  = @pds_ejector.kks
%p
  %b Shortdesc:
  = @pds_ejector.ShortDesc
%p
  %b Desc en:
  = @pds_ejector.Desc_EN
%p
  %b Capacity:
  = @pds_ejector.capacity
%p
  %b Level:
  = @pds_ejector.level
%p
  %b Room:
  = @pds_ejector.room
%p
  %b Project:
  = @pds_ejector.Project
%p
  %b Sys:
  = @pds_ejector.sys
%p
  %b Eq type:
  = @pds_ejector.eq_type
%p
  %b Unit:
  = @pds_ejector.Unit
%p
  %b Sd n:
  = @pds_ejector.sd_N

= link_to 'Edit', edit_pds_ejector_path(@pds_ejector)
\|
= link_to 'Back', pds_ejectors_path
