%h1 Listing pds_buttons_lights

%table
  %thead
    %tr
      %th Ic
      %th Sys
      %th Project
      %th Ctrl power
      %th Range
      %th Fixed
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_buttons_lights.each do |pds_buttons_light|
      %tr
        %td= pds_buttons_light.IC
        %td= pds_buttons_light.sys
        %td= pds_buttons_light.Project
        %td= pds_buttons_light.ctrl_power
        %td= pds_buttons_light.range
        %td= pds_buttons_light.Fixed
        %td= pds_buttons_light.t
        %td= link_to 'Show', pds_buttons_light
        %td= link_to 'Edit', edit_pds_buttons_light_path(pds_buttons_light)
        %td= link_to 'Destroy', pds_buttons_light, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds buttons light', new_pds_buttons_light_path
