%p#notice= notice

%p
  %b Ic:
  = @pds_buttons_light.IC
%p
  %b Sys:
  = @pds_buttons_light.sys
%p
  %b Project:
  = @pds_buttons_light.Project
%p
  %b Ctrl power:
  = @pds_buttons_light.ctrl_power
%p
  %b Range:
  = @pds_buttons_light.range
%p
  %b Fixed:
  = @pds_buttons_light.Fixed
%p
  %b T:
  = @pds_buttons_light.t

= link_to 'Edit', edit_pds_buttons_light_path(@pds_buttons_light)
\|
= link_to 'Back', pds_buttons_lights_path
