%h1 Listing pds_mnemos

%table
  %thead
    %tr
      %th Sys
      %th Project
      %th Code
      %th Marker
      %th Techcode
      %th Type
      %th Opened
      %th Closed
      %th Control
      %th Autodist
      %th Parameter
      %th Description
      %th Description en
      %th Gr dreg
      %th Detector
      %th Characteristics
      %th
      %th
      %th
      
  %tbody
    - @pds_mnemos.each do |pds_mnemo|
      %tr
        %td= pds_mnemo.sys
        %td= pds_mnemo.Project
        %td= pds_mnemo.Code
        %td= pds_mnemo.Marker
        %td= pds_mnemo.TechCode
        %td= pds_mnemo.Type
        %td= pds_mnemo.Opened
        %td= pds_mnemo.Closed
        %td= pds_mnemo.Control
        %td= pds_mnemo.AutoDist
        %td= pds_mnemo.Parameter
        %td= pds_mnemo.Description
        %td= pds_mnemo.Description_EN
        %td= pds_mnemo.Gr_Dreg
        %td= pds_mnemo.Detector
        %td= pds_mnemo.Characteristics
        %td= link_to 'Show', pds_mnemo
        %td= link_to 'Edit', edit_pds_mnemo_path(pds_mnemo)
        %td= link_to 'Destroy', pds_mnemo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds mnemo', new_pds_mnemo_path
