%p#notice= notice

%p
  %b Sys:
  = @pds_mnemo.sys
%p
  %b Project:
  = @pds_mnemo.Project
%p
  %b Code:
  = @pds_mnemo.Code
%p
  %b Marker:
  = @pds_mnemo.Marker
%p
  %b Techcode:
  = @pds_mnemo.TechCode
%p
  %b Type:
  = @pds_mnemo.Type
%p
  %b Opened:
  = @pds_mnemo.Opened
%p
  %b Closed:
  = @pds_mnemo.Closed
%p
  %b Control:
  = @pds_mnemo.Control
%p
  %b Autodist:
  = @pds_mnemo.AutoDist
%p
  %b Parameter:
  = @pds_mnemo.Parameter
%p
  %b Description:
  = @pds_mnemo.Description
%p
  %b Description en:
  = @pds_mnemo.Description_EN
%p
  %b Gr dreg:
  = @pds_mnemo.Gr_Dreg
%p
  %b Detector:
  = @pds_mnemo.Detector
%p
  %b Characteristics:
  = @pds_mnemo.Characteristics

= link_to 'Edit', edit_pds_mnemo_path(@pds_mnemo)
\|
= link_to 'Back', pds_mnemos_path
