%h1 Listing pds_project_units

%table
  %thead
    %tr
      %th Project
      %th Unit
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_project_units.each do |pds_project_unit|
      %tr
        %td= pds_project_unit.Project
        %td= pds_project_unit.Unit
        %td= pds_project_unit.t
        %td= link_to 'Show', pds_project_unit
        %td= link_to 'Edit', edit_pds_project_unit_path(pds_project_unit)
        %td= link_to 'Destroy', pds_project_unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds project unit', new_pds_project_unit_path
