%p#notice= notice

%p
  %b Project:
  = @pds_project_unit.Project
%p
  %b Unit:
  = @pds_project_unit.Unit
%p
  %b T:
  = @pds_project_unit.t

= link_to 'Edit', edit_pds_project_unit_path(@pds_project_unit)
\|
= link_to 'Back', pds_project_units_path
