%p#notice= notice

%p
  %b Project:
  = @hw_iosignal.Project
%p
  %b Pedid:
  = @hw_iosignal.pedID
%p
  %b Signid:
  = @hw_iosignal.signID
%p
  %b Wirecode:
  = @hw_iosignal.wirecode
%p
  %b Contact:
  = @hw_iosignal.contact
%p
  %b Sw pref:
  = @hw_iosignal.sw_pref
%p
  %b Sw suff:
  = @hw_iosignal.sw_suff
%p
  %b Hw suff:
  = @hw_iosignal.hw_suff
%p
  %b Comment:
  = @hw_iosignal.comment
%p
  %b Contactnum:
  = @hw_iosignal.contactnum
%p
  %b Description:
  = @hw_iosignal.description
%p
  %b Diapason:
  = @hw_iosignal.diapason
%p
  %b Limits:
  = @hw_iosignal.limits
%p
  %b T:
  = @hw_iosignal.t
%p
  %b Temp:
  = @hw_iosignal.temp

= link_to 'Edit', edit_hw_iosignal_path(@hw_iosignal)
\|
= link_to 'Back', hw_iosignals_path
