%p#notice= notice

%p
  %b Kks:
  = @pds_volume.kks
%p
  %b Shortdesc:
  = @pds_volume.ShortDesc
%p
  %b Desc en:
  = @pds_volume.Desc_EN
%p
  %b Volume:
  = @pds_volume.volume
%p
  %b Height:
  = @pds_volume.height
%p
  %b Level:
  = @pds_volume.level
%p
  %b Room:
  = @pds_volume.room
%p
  %b Project:
  = @pds_volume.Project
%p
  %b Sys:
  = @pds_volume.sys
%p
  %b Eq type:
  = @pds_volume.eq_type
%p
  %b Sd n:
  = @pds_volume.sd_N

= link_to 'Edit', edit_pds_volume_path(@pds_volume)
\|
= link_to 'Back', pds_volumes_path
