<h2>Вход в проектную базу данных</h2>

<%= form_for(resource, :as => :user, :url => session_path(resource_name), :html => {:pds_project_id => 83}) do |f| %>
  <p> </p>
  <p> </p>
  <p> </p>
  <div><%= f.label "Имя пользователя" %><br />
  <%= f.text_field :login, :autofocus => true %></div>

  <p> </p>
  <p> </p>
  <p> </p>
  <div><%= f.label "Пароль" %><br />
    <%= f.password_field :password %>
  </div>

  <p> </p>
  <p> </p>
  <p> </p>

   <%= f.select(:login_project) do %>
     <% [['ПМТ Смоленск-2', 90], ['ПМТ СмАЭС-3', 87], ['Курск-2 2018',80000002], ['Курск-2',83], ['ПМТ КуАЭС-4',80000001], ['ПМТ КуАЭС-4 2016',80000003], ['АТ БилАЭС',200000029], ['ПМТ БалАЭС-1',88],['ПМТ РостАЭС-1', 80000006], ['ПМТ СмАЭС-3 2020', 80000007]].each do |c| -%>
       <%= content_tag(:option, c.first, value: c.last) %>
     <% end %>
   <% end %>
 
  <p> </p>
  <p> </p>
  <p> </p>

  <div><%= f.submit "Вход" %></div>
<% end %>
