%p#notice= notice

%p
  %b Model:
  = @pds_regulator.model
%p
  %b Project:
  = @pds_regulator.Project
%p
  %b Sys:
  = @pds_regulator.sys
%p
  %b Tag ru:
  = @pds_regulator.tag_RU
%p
  %b Tag en:
  = @pds_regulator.tag_EN
%p
  %b Station sys:
  = @pds_regulator.station_sys
%p
  %b Desc:
  = @pds_regulator.Desc
%p
  %b Ed power:
  = @pds_regulator.ed_power
%p
  %b Ctrl power:
  = @pds_regulator.ctrl_power
%p
  %b Anc power:
  = @pds_regulator.anc_power
%p
  %b Nom state:
  = @pds_regulator.nom_state
%p
  %b Open rate:
  = @pds_regulator.open_rate
%p
  %b Close rate:
  = @pds_regulator.close_rate
%p
  %b Sd n:
  = @pds_regulator.sd_N
%p
  %b Doc reg n:
  = @pds_regulator.doc_reg_N
%p
  %b Algorithm:
  = @pds_regulator.Algorithm
%p
  %b T:
  = @pds_regulator.t
%p
  %b Desc en:
  = @pds_regulator.Desc_EN
%p
  %b Import t:
  = @pds_regulator.import_t
%p
  %b Mod:
  = @pds_regulator.mod
%p
  %b Vlv:
  = @pds_regulator.vlv
%p
  %b Vlv 1:
  = @pds_regulator.vlv_1
%p
  %b Vlv 2:
  = @pds_regulator.vlv_2
%p
  %b Det:
  = @pds_regulator.det
%p
  %b Eq type:
  = @pds_regulator.eq_type
%p
  %b Par val:
  = @pds_regulator.par_val

= link_to 'Edit', edit_pds_regulator_path(@pds_regulator)
\|
= link_to 'Back', pds_regulators_path
