%p#notice= notice

%p
  %b Sys:
  = @pds_breaker.sys
%p
  %b Project:
  = @pds_breaker.Project
%p
  %b Tag ru:
  = @pds_breaker.tag_RU
%p
  %b Tag en:
  = @pds_breaker.tag_EN
%p
  %b Ed power:
  = @pds_breaker.ed_power
%p
  %b Ctrl power:
  = @pds_breaker.ctrl_power
%p
  %b Anc power:
  = @pds_breaker.anc_power
%p
  %b Time:
  = @pds_breaker.Time
%p
  %b Algorithm:
  = @pds_breaker.Algorithm
%p
  %b Desc ru:
  = @pds_breaker.Desc_RU
%p
  %b Desc en:
  = @pds_breaker.Desc_EN
%p
  %b Model:
  = @pds_breaker.model
%p
  %b Eq type:
  = @pds_breaker.eq_type
%p
  %b Connection:
  = @pds_breaker.connection
%p
  %b Sd n:
  = @pds_breaker.sd_N

= link_to 'Edit', edit_pds_breaker_path(@pds_breaker)
\|
= link_to 'Back', pds_breakers_path
