%p#notice= notice

%p
  %b Project:
  = @dwg_panel.Project
%p
  %b Panel:
  = @dwg_panel.panel
%p
  %b Name:
  = @dwg_panel.NAME
%p
  %b Ev:
  = @dwg_panel.EV
%p
  %b Eh:
  = @dwg_panel.EH
%p
  %b Sv:
  = @dwg_panel.SV
%p
  %b Sh:
  = @dwg_panel.SH
%p
  %b Mp cmemo:
  = @dwg_panel.MP_CMEMO
%p
  %b Mp code:
  = @dwg_panel.MP_CODE
%p
  %b Mp code1:
  = @dwg_panel.MP_CODE1
%p
  %b Mp code2:
  = @dwg_panel.MP_CODE2
%p
  %b Mp l0:
  = @dwg_panel.MP_L0
%p
  %b Mp l0 0:
  = @dwg_panel.MP_L0_0
%p
  %b Mp l0 1:
  = @dwg_panel.MP_L0_1
%p
  %b Mp l0 2:
  = @dwg_panel.MP_L0_2
%p
  %b Mp l0 3:
  = @dwg_panel.MP_L0_3
%p
  %b Mp l0 4:
  = @dwg_panel.MP_L0_4
%p
  %b Mp l0 0 x:
  = @dwg_panel.MP_L0_0_x
%p
  %b Mp l0 0 y:
  = @dwg_panel.MP_L0_0_y
%p
  %b Mp l0 0 w:
  = @dwg_panel.MP_L0_0_w
%p
  %b Mp l0 0 h:
  = @dwg_panel.MP_L0_0_h
%p
  %b Mp l0 0 f:
  = @dwg_panel.MP_L0_0_f
%p
  %b Mp l0 1 x:
  = @dwg_panel.MP_L0_1_x
%p
  %b Mp l0 1 y:
  = @dwg_panel.MP_L0_1_y
%p
  %b Mp l0 1 w:
  = @dwg_panel.MP_L0_1_w
%p
  %b Mp l0 1 h:
  = @dwg_panel.MP_L0_1_h
%p
  %b Mp l0 1 f:
  = @dwg_panel.MP_L0_1_f
%p
  %b Mp l0 2 x:
  = @dwg_panel.MP_L0_2_x
%p
  %b Mp l0 2 y:
  = @dwg_panel.MP_L0_2_y
%p
  %b Mp l0 2 w:
  = @dwg_panel.MP_L0_2_w
%p
  %b Mp l0 2 h:
  = @dwg_panel.MP_L0_2_h
%p
  %b Mp l0 2 f:
  = @dwg_panel.MP_L0_2_f
%p
  %b Mp l0 3 x:
  = @dwg_panel.MP_L0_3_x
%p
  %b Mp l0 3 y:
  = @dwg_panel.MP_L0_3_y
%p
  %b Mp l0 3 w:
  = @dwg_panel.MP_L0_3_w
%p
  %b Mp l0 3 h:
  = @dwg_panel.MP_L0_3_h
%p
  %b Mp l0 3 f:
  = @dwg_panel.MP_L0_3_f
%p
  %b Mp l0 4 x:
  = @dwg_panel.MP_L0_4_x
%p
  %b Mp l0 4 y:
  = @dwg_panel.MP_L0_4_y
%p
  %b Mp l0 4 w:
  = @dwg_panel.MP_L0_4_w
%p
  %b Mp l0 4 h:
  = @dwg_panel.MP_L0_4_h
%p
  %b Mp l0 4 f:
  = @dwg_panel.MP_L0_4_f
%p
  %b Mp mass:
  = @dwg_panel.MP_MASS
%p
  %b Mp max:
  = @dwg_panel.MP_MAX
%p
  %b Mp min:
  = @dwg_panel.MP_MIN
%p
  %b Mp mode:
  = @dwg_panel.MP_MODE
%p
  %b Mp modeord:
  = @dwg_panel.MP_MODEORD
%p
  %b Mp name0:
  = @dwg_panel.MP_NAME0
%p
  %b Mp name1:
  = @dwg_panel.MP_NAME1
%p
  %b Mp order:
  = @dwg_panel.MP_ORDER
%p
  %b Mp proj:
  = @dwg_panel.MP_PROJ
%p
  %b Mp s0:
  = @dwg_panel.MP_S0
%p
  %b Mp s100:
  = @dwg_panel.MP_S100
%p
  %b Mp s20:
  = @dwg_panel.MP_S20
%p
  %b Mp s40:
  = @dwg_panel.MP_S40
%p
  %b Mp s50:
  = @dwg_panel.MP_S50
%p
  %b Mp s60:
  = @dwg_panel.MP_S60
%p
  %b Mp s80:
  = @dwg_panel.MP_S80
%p
  %b Mp type0:
  = @dwg_panel.MP_TYPE0
%p
  %b Mp type1:
  = @dwg_panel.MP_TYPE1
%p
  %b Mp u0:
  = @dwg_panel.MP_U0
%p
  %b Mp u1:
  = @dwg_panel.MP_U1
%p
  %b Mp io:
  = @dwg_panel.MP_IO
%p
  %b Mp iocont:
  = @dwg_panel.MP_IOCONT
%p
  %b Mp ioname:
  = @dwg_panel.MP_IONAME
%p
  %b Type:
  = @dwg_panel.TYPE
%p
  %b Font:
  = @dwg_panel.FONT
%p
  %b Mirror:
  = @dwg_panel.MIRROR
%p
  %b Rotate:
  = @dwg_panel.ROTATE
%p
  %b Revision:
  = @dwg_panel.revision
%p
  %b T:
  = @dwg_panel.t
%p
  %b Rotation:
  = @dwg_panel.rotation
%p
  %b Ref:
  = @dwg_panel.ref

= link_to 'Edit', edit_dwg_panel_path(@dwg_panel)
\|
= link_to 'Back', dwg_panels_path
