= form_for @pds_iomap do |f|
  - if @pds_iomap.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_iomap.errors.count, "error")} prohibited this pds_iomap from being saved:"
      %ul
        - @pds_iomap.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :hwaddress
    = f.text_field :hwaddress
  .field
    = f.label :io_point_name
    = f.text_field :io_point_name
  .field
    = f.label :number_of_array_elem
    = f.number_field :number_of_array_elem
  .field
    = f.label :sid
    = f.number_field :sid
  .field
    = f.label :comp_name
    = f.text_field :comp_name
  .field
    = f.label :remark
    = f.text_field :remark
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
