%h1 Listing pds_iomaps

%table
  %thead
    %tr
      %th Project
      %th Hwaddress
      %th Io point name
      %th Number of array elem
      %th Sid
      %th Comp name
      %th Remark
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_iomaps.each do |pds_iomap|
      %tr
        %td= pds_iomap.Project
        %td= pds_iomap.hwaddress
        %td= pds_iomap.io_point_name
        %td= pds_iomap.number_of_array_elem
        %td= pds_iomap.sid
        %td= pds_iomap.comp_name
        %td= pds_iomap.remark
        %td= pds_iomap.t
        %td= link_to 'Show', pds_iomap
        %td= link_to 'Edit', edit_pds_iomap_path(pds_iomap)
        %td= link_to 'Destroy', pds_iomap, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds iomap', new_pds_iomap_path
