%p#notice= notice

%p
  %b Project:
  = @pds_iomap.Project
%p
  %b Hwaddress:
  = @pds_iomap.hwaddress
%p
  %b Io point name:
  = @pds_iomap.io_point_name
%p
  %b Number of array elem:
  = @pds_iomap.number_of_array_elem
%p
  %b Sid:
  = @pds_iomap.sid
%p
  %b Comp name:
  = @pds_iomap.comp_name
%p
  %b Remark:
  = @pds_iomap.remark
%p
  %b T:
  = @pds_iomap.t

= link_to 'Edit', edit_pds_iomap_path(@pds_iomap)
\|
= link_to 'Back', pds_iomaps_path
