= form_for @pds_recorder do |f|
  - if @pds_recorder.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_recorder.errors.count, "error")} prohibited this pds_recorder from being saved:"
      %ul
        - @pds_recorder.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :IC
    = f.number_field :IC
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :ctrl_power
    = f.number_field :ctrl_power
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
