%p#notice= notice

%p
  %b Kks:
  = @pds_filter.kks
%p
  %b Shortdesc:
  = @pds_filter.ShortDesc
%p
  %b Desc en:
  = @pds_filter.Desc_EN
%p
  %b Level:
  = @pds_filter.level
%p
  %b Room:
  = @pds_filter.room
%p
  %b Project:
  = @pds_filter.Project
%p
  %b Sys:
  = @pds_filter.sys
%p
  %b Eq type:
  = @pds_filter.eq_type
%p
  %b Var:
  = @pds_filter.var
%p
  %b Old var:
  = @pds_filter.old_var
%p
  %b Sd n:
  = @pds_filter.sd_N

= link_to 'Edit', edit_pds_filter_path(@pds_filter)
\|
= link_to 'Back', pds_filters_path
