%h1 Listing pds_negotiators

%table
  %thead
    %tr
      %th Name
      %th Post
      %th Project
      %th Chef
      %th Ord
      %th
      %th
      %th
      
  %tbody
    - @pds_negotiators.each do |pds_negotiator|
      %tr
        %td= pds_negotiator.name
        %td= pds_negotiator.post
        %td= pds_negotiator.Project
        %td= pds_negotiator.chef
        %td= pds_negotiator.ord
        %td= link_to 'Show', pds_negotiator
        %td= link_to 'Edit', edit_pds_negotiator_path(pds_negotiator)
        %td= link_to 'Destroy', pds_negotiator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds negotiator', new_pds_negotiator_path
