%p#notice= notice

%p
  %b Name:
  = @pds_negotiator.name
%p
  %b Post:
  = @pds_negotiator.post
%p
  %b Project:
  = @pds_negotiator.Project
%p
  %b Chef:
  = @pds_negotiator.chef
%p
  %b Ord:
  = @pds_negotiator.ord

= link_to 'Edit', edit_pds_negotiator_path(@pds_negotiator)
\|
= link_to 'Back', pds_negotiators_path
