%p#notice= notice

%p
  %b Kks:
  = @pds_hex.kks
%p
  %b Shortdesc:
  = @pds_hex.ShortDesc
%p
  %b S:
  = @pds_hex.s
%p
  %b Level:
  = @pds_hex.level
%p
  %b Room:
  = @pds_hex.room
%p
  %b Project:
  = @pds_hex.Project
%p
  %b Sys:
  = @pds_hex.sys
%p
  %b Eq type:
  = @pds_hex.eq_type
%p
  %b Var:
  = @pds_hex.var
%p
  %b Old var:
  = @pds_hex.old_var
%p
  %b Desc en:
  = @pds_hex.Desc_EN
%p
  %b Sd n:
  = @pds_hex.sd_N

= link_to 'Edit', edit_pds_hex_path(@pds_hex)
\|
= link_to 'Back', pds_hexes_path
