%p#notice= notice

%p
  %b Sys:
  = @pds_block.sys
%p
  %b P p:
  = @pds_block.p_p
%p
  %b Desc:
  = @pds_block.Desc
%p
  %b Doc:
  = @pds_block.doc
%p
  %b Varname:
  = @pds_block.varName
%p
  %b Project:
  = @pds_block.Project

= link_to 'Edit', edit_pds_block_path(@pds_block)
\|
= link_to 'Back', pds_blocks_path
