%p#notice= notice

%p
  %b Name:
  = @pds_engineer.name
%p
  %b Th:
  = @pds_engineer.TH
%p
  %b To:
  = @pds_engineer.TO
%p
  %b L:
  = @pds_engineer.L
%p
  %b El:
  = @pds_engineer.EL
%p
  %b Cr:
  = @pds_engineer.CR
%p
  %b D:
  = @pds_engineer.D
%p
  %b Swm:
  = @pds_engineer.SWM
%p
  %b Hwm:
  = @pds_engineer.HWM
%p
  %b Pm:
  = @pds_engineer.PM
%p
  %b T:
  = @pds_engineer.t
%p
  %b Email:
  = @pds_engineer.EMail
%p
  %b Cheifdirector:
  = @pds_engineer.CheifDirector
%p
  %b Login:
  = @pds_engineer.login
%p
  %b Pwd:
  = @pds_engineer.pwd
%p
  %b Dismiss:
  = @pds_engineer.dismiss
%p
  %b Coreid:
  = @pds_engineer.coreID
%p
  %b Phonenum:
  = @pds_engineer.phoneNum
%p
  %b Cellnum:
  = @pds_engineer.cellNum
%p
  %b Ip:
  = @pds_engineer.IP
%p
  %b Compjack:
  = @pds_engineer.compJack
%p
  %b Phonejack:
  = @pds_engineer.phoneJack
%p
  %b Sectorid1:
  = @pds_engineer.sectorID1
%p
  %b Enabled:
  = @pds_engineer.enabled

= link_to 'Edit', edit_pds_engineer_path(@pds_engineer)
\|
= link_to 'Back', pds_engineers_path
