= form_for @pds_doc_on_sy do |f|
  - if @pds_doc_on_sy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_doc_on_sy.errors.count, "error")} prohibited this pds_doc_on_sy from being saved:"
      %ul
        - @pds_doc_on_sy.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Doc
    = f.number_field :Doc
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
