%h1 Listing pds_doc_on_sies

%table
  %thead
    %tr
      %th Doc
      %th Sys
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_doc_on_sies.each do |pds_doc_on_sy|
      %tr
        %td= pds_doc_on_sy.Doc
        %td= pds_doc_on_sy.sys
        %td= pds_doc_on_sy.t
        %td= link_to 'Show', pds_doc_on_sy
        %td= link_to 'Edit', edit_pds_doc_on_sy_path(pds_doc_on_sy)
        %td= link_to 'Destroy', pds_doc_on_sy, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds doc on sy', new_pds_doc_on_sy_path
