%h1 Listing pds_meters_channels

%table
  %thead
    %tr
      %th Ic
      %th Sys
      %th Project
      %th Ctrl power
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_meters_channels.each do |pds_meters_channel|
      %tr
        %td= pds_meters_channel.IC
        %td= pds_meters_channel.sys
        %td= pds_meters_channel.Project
        %td= pds_meters_channel.ctrl_power
        %td= pds_meters_channel.t
        %td= link_to 'Show', pds_meters_channel
        %td= link_to 'Edit', edit_pds_meters_channel_path(pds_meters_channel)
        %td= link_to 'Destroy', pds_meters_channel, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds meters channel', new_pds_meters_channel_path
