= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :shortName
    = f.text_field :shortName
  .field
    = f.label :shortName_en
    = f.text_field :shortName_en
  .field
    = f.label :LongName
    = f.text_field :LongName
  .field
    = f.label :LongName_en
    = f.text_field :LongName_en
  .field
    = f.label :Descriprion
    = f.text_area :Descriprion
  .field
    = f.label :Logo
    = f.text_field :Logo
  .field
    = f.label :AcceptorPost_en
    = f.text_field :AcceptorPost_en
  .field
    = f.label :AcceptorPost
    = f.text_field :AcceptorPost
  .field
    = f.label :AcceptorName_en
    = f.text_field :AcceptorName_en
  .field
    = f.label :AcceptorName
    = f.text_field :AcceptorName
  .actions
    = f.submit 'Save'
