%h1 Listing companies

%table
  %thead
    %tr
      %th Shortname
      %th Shortname en
      %th Longname
      %th Longname en
      %th Descriprion
      %th Logo
      %th Acceptorpost en
      %th Acceptorpost
      %th Acceptorname en
      %th Acceptorname
      %th
      %th
      %th
      
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.shortName
        %td= company.shortName_en
        %td= company.LongName
        %td= company.LongName_en
        %td= company.Descriprion
        %td= company.Logo
        %td= company.AcceptorPost_en
        %td= company.AcceptorPost
        %td= company.AcceptorName_en
        %td= company.AcceptorName
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
