%p#notice= notice

%p
  %b Shortname:
  = @company.shortName
%p
  %b Shortname en:
  = @company.shortName_en
%p
  %b Longname:
  = @company.LongName
%p
  %b Longname en:
  = @company.LongName_en
%p
  %b Descriprion:
  = @company.Descriprion
%p
  %b Logo:
  = @company.Logo
%p
  %b Acceptorpost en:
  = @company.AcceptorPost_en
%p
  %b Acceptorpost:
  = @company.AcceptorPost
%p
  %b Acceptorname en:
  = @company.AcceptorName_en
%p
  %b Acceptorname:
  = @company.AcceptorName

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
