%h1 Listing pds_malfunctions

%table
  %thead
    %tr
      %th Sys
      %th Dimension
      %th Project
      %th Numb
      %th Shortdesc
      %th Shortdesc en
      %th Cause
      %th Cause en
      %th Fulldesc
      %th Fulldesc en
      %th Type
      %th If delete
      %th If delete en
      %th Lowlim regidity
      %th Uplim regidity
      %th Regidity unit
      %th Regidity text
      %th Regidity text en
      %th Unit status
      %th T
      %th File
      %th Regidity unitid
      %th Scale
      %th Sd n
      %th
      %th
      %th
      
  %tbody
    - @pds_malfunctions.each do |pds_malfunction|
      %tr
        %td= pds_malfunction.sys
        %td= pds_malfunction.Dimension
        %td= pds_malfunction.Project
        %td= pds_malfunction.Numb
        %td= pds_malfunction.shortDesc
        %td= pds_malfunction.shortDesc_EN
        %td= pds_malfunction.cause
        %td= pds_malfunction.cause_EN
        %td= pds_malfunction.fullDesc
        %td= pds_malfunction.fullDesc_EN
        %td= pds_malfunction.type
        %td= pds_malfunction.if_delete
        %td= pds_malfunction.if_delete_EN
        %td= pds_malfunction.lowlim_regidity
        %td= pds_malfunction.uplim_regidity
        %td= pds_malfunction.regidity_unit
        %td= pds_malfunction.regidity_text
        %td= pds_malfunction.regidity_text_EN
        %td= pds_malfunction.Unit_status
        %td= pds_malfunction.t
        %td= pds_malfunction.File
        %td= pds_malfunction.regidity_unitid
        %td= pds_malfunction.scale
        %td= pds_malfunction.sd_N
        %td= link_to 'Show', pds_malfunction
        %td= link_to 'Edit', edit_pds_malfunction_path(pds_malfunction)
        %td= link_to 'Destroy', pds_malfunction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds malfunction', new_pds_malfunction_path
