%p#notice= notice

%p
  %b Sys:
  = @pds_malfunction.sys
%p
  %b Dimension:
  = @pds_malfunction.Dimension
%p
  %b Project:
  = @pds_malfunction.Project
%p
  %b Numb:
  = @pds_malfunction.Numb
%p
  %b Shortdesc:
  = @pds_malfunction.shortDesc
%p
  %b Shortdesc en:
  = @pds_malfunction.shortDesc_EN
%p
  %b Cause:
  = @pds_malfunction.cause
%p
  %b Cause en:
  = @pds_malfunction.cause_EN
%p
  %b Fulldesc:
  = @pds_malfunction.fullDesc
%p
  %b Fulldesc en:
  = @pds_malfunction.fullDesc_EN
%p
  %b Type:
  = @pds_malfunction.type
%p
  %b If delete:
  = @pds_malfunction.if_delete
%p
  %b If delete en:
  = @pds_malfunction.if_delete_EN
%p
  %b Lowlim regidity:
  = @pds_malfunction.lowlim_regidity
%p
  %b Uplim regidity:
  = @pds_malfunction.uplim_regidity
%p
  %b Regidity unit:
  = @pds_malfunction.regidity_unit
%p
  %b Regidity text:
  = @pds_malfunction.regidity_text
%p
  %b Regidity text en:
  = @pds_malfunction.regidity_text_EN
%p
  %b Unit status:
  = @pds_malfunction.Unit_status
%p
  %b T:
  = @pds_malfunction.t
%p
  %b File:
  = @pds_malfunction.File
%p
  %b Regidity unitid:
  = @pds_malfunction.regidity_unitid
%p
  %b Scale:
  = @pds_malfunction.scale
%p
  %b Sd n:
  = @pds_malfunction.sd_N

= link_to 'Edit', edit_pds_malfunction_path(@pds_malfunction)
\|
= link_to 'Back', pds_malfunctions_path
