%h1 Listing pds_breakers73s

%table
  %thead
    %tr
      %th System
      %th Tag ru
      %th Tag en
      %th Desc ru
      %th Desc en
      %th
      %th
      %th
      
  %tbody
    - @pds_breakers73s.each do |pds_breakers73|
      %tr
        %td= pds_breakers73.System
        %td= pds_breakers73.tag_RU
        %td= pds_breakers73.tag_EN
        %td= pds_breakers73.Desc_RU
        %td= pds_breakers73.Desc_EN
        %td= link_to 'Show', pds_breakers73
        %td= link_to 'Edit', edit_pds_breakers73_path(pds_breakers73)
        %td= link_to 'Destroy', pds_breakers73, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds breakers73', new_pds_breakers73_path
