= form_for @pds_mathmodel do |f|
  - if @pds_mathmodel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_mathmodel.errors.count, "error")} prohibited this pds_mathmodel from being saved:"
      %ul
        - @pds_mathmodel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :task_N
    = f.number_field :task_N
  .field
    = f.label :Desc_RU
    = f.text_area :Desc_RU
  .field
    = f.label :Desc_EN
    = f.text_area :Desc_EN
  .actions
    = f.submit 'Save'
