%h1 Listing pds_mathmodels

%table
  %thead
    %tr
      %th Project
      %th Sys
      %th Task n
      %th Desc ru
      %th Desc en
      %th
      %th
      %th
      
  %tbody
    - @pds_mathmodels.each do |pds_mathmodel|
      %tr
        %td= pds_mathmodel.Project
        %td= pds_mathmodel.sys
        %td= pds_mathmodel.task_N
        %td= pds_mathmodel.Desc_RU
        %td= pds_mathmodel.Desc_EN
        %td= link_to 'Show', pds_mathmodel
        %td= link_to 'Edit', edit_pds_mathmodel_path(pds_mathmodel)
        %td= link_to 'Destroy', pds_mathmodel, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds mathmodel', new_pds_mathmodel_path
