%p#notice= notice

%p
  %b Project:
  = @pds_mathmodel.Project
%p
  %b Sys:
  = @pds_mathmodel.sys
%p
  %b Task n:
  = @pds_mathmodel.task_N
%p
  %b Desc ru:
  = @pds_mathmodel.Desc_RU
%p
  %b Desc en:
  = @pds_mathmodel.Desc_EN

= link_to 'Edit', edit_pds_mathmodel_path(@pds_mathmodel)
\|
= link_to 'Back', pds_mathmodels_path
