= form_for @pds_ppcd do |f|
  - if @pds_ppcd.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_ppcd.errors.count, "error")} prohibited this pds_ppcd from being saved:"
      %ul
        - @pds_ppcd.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :Shifr
    = f.text_field :Shifr
  .field
    = f.label :Key
    = f.text_field :Key
  .field
    = f.label :identif
    = f.text_field :identif
  .field
    = f.label :Description
    = f.text_area :Description
  .field
    = f.label :Description_EN
    = f.text_area :Description_EN
  .field
    = f.label :Detector
    = f.number_field :Detector
  .field
    = f.label :t
    = f.datetime_select :t
  .field
    = f.label :code
    = f.text_field :code
  .actions
    = f.submit 'Save'
