%h1 Listing pds_ppcds

%table
  %thead
    %tr
      %th Project
      %th Sys
      %th Shifr
      %th Key
      %th Identif
      %th Description
      %th Description en
      %th Detector
      %th T
      %th Code
      %th
      %th
      %th
      
  %tbody
    - @pds_ppcds.each do |pds_ppcd|
      %tr
        %td= pds_ppcd.Project
        %td= pds_ppcd.sys
        %td= pds_ppcd.Shifr
        %td= pds_ppcd.Key
        %td= pds_ppcd.identif
        %td= pds_ppcd.Description
        %td= pds_ppcd.Description_EN
        %td= pds_ppcd.Detector
        %td= pds_ppcd.t
        %td= pds_ppcd.code
        %td= link_to 'Show', pds_ppcd
        %td= link_to 'Edit', edit_pds_ppcd_path(pds_ppcd)
        %td= link_to 'Destroy', pds_ppcd, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds ppcd', new_pds_ppcd_path
