= form_for @hw_iosignaldim do |f|
  - if @hw_iosignaldim.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hw_iosignaldim.errors.count, "error")} prohibited this hw_iosignaldim from being saved:"
      %ul
        - @hw_iosignaldim.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :signID
    = f.number_field :signID
  .field
    = f.label :num
    = f.number_field :num
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :suff
    = f.text_field :suff
  .actions
    = f.submit 'Save'
