= form_for @pds_equipment do |f|
  - if @pds_equipment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_equipment.errors.count, "error")} prohibited this pds_equipment from being saved:"
      %ul
        - @pds_equipment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :KKS
    = f.text_field :KKS
  .field
    = f.label :eq_type
    = f.number_field :eq_type
  .field
    = f.label :Description_RU
    = f.text_field :Description_RU
  .field
    = f.label :Description_EN
    = f.text_field :Description_EN
  .field
    = f.label :type_equip
    = f.number_field :type_equip
  .field
    = f.label :sd_N
    = f.number_field :sd_N
  .actions
    = f.submit 'Save'
