%h1 Listing pds_equipments

%table
  %thead
    %tr
      %th Project
      %th Sys
      %th Kks
      %th Eq type
      %th Description ru
      %th Description en
      %th Type equip
      %th Sd n
      %th
      %th
      %th
      
  %tbody
    - @pds_equipments.each do |pds_equipment|
      %tr
        %td= pds_equipment.Project
        %td= pds_equipment.sys
        %td= pds_equipment.KKS
        %td= pds_equipment.eq_type
        %td= pds_equipment.Description_RU
        %td= pds_equipment.Description_EN
        %td= pds_equipment.type_equip
        %td= pds_equipment.sd_N
        %td= link_to 'Show', pds_equipment
        %td= link_to 'Edit', edit_pds_equipment_path(pds_equipment)
        %td= link_to 'Destroy', pds_equipment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds equipment', new_pds_equipment_path
