%h1 Listing pds_announciators

%table
  %thead
    %tr
      %th Ic
      %th Project
      %th Sys
      %th Ctrl power
      %th T
      %th Type
      %th Gr dreg
      %th Detector
      %th Characteristics
      %th Sign
      %th Code
      %th
      %th
      %th
      
  %tbody
    - @pds_announciators.each do |pds_announciator|
      %tr
        %td= pds_announciator.IC
        %td= pds_announciator.Project
        %td= pds_announciator.sys
        %td= pds_announciator.ctrl_power
        %td= pds_announciator.t
        %td= pds_announciator.Type
        %td= pds_announciator.Gr_Dreg
        %td= pds_announciator.Detector
        %td= pds_announciator.Characteristics
        %td= pds_announciator.sign
        %td= pds_announciator.Code
        %td= link_to 'Show', pds_announciator
        %td= link_to 'Edit', edit_pds_announciator_path(pds_announciator)
        %td= link_to 'Destroy', pds_announciator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds announciator', new_pds_announciator_path
