%p#notice= notice

%p
  %b Ic:
  = @pds_meter.IC
%p
  %b Sys:
  = @pds_meter.sys
%p
  %b Project:
  = @pds_meter.Project
%p
  %b Ctrl power:
  = @pds_meter.ctrl_power
%p
  %b T:
  = @pds_meter.t

= link_to 'Edit', edit_pds_meter_path(@pds_meter)
\|
= link_to 'Back', pds_meters_path
