%h1 Listing pds_simplifications

%table
  %thead
    %tr
      %th Sys
      %th Project
      %th Numb
      %th Desc
      %th Desc en
      %th Support
      %th Support en
      %th Queryid
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_simplifications.each do |pds_simplification|
      %tr
        %td= pds_simplification.sys
        %td= pds_simplification.Project
        %td= pds_simplification.Numb
        %td= pds_simplification.Desc
        %td= pds_simplification.Desc_EN
        %td= pds_simplification.support
        %td= pds_simplification.support_EN
        %td= pds_simplification.queryID
        %td= pds_simplification.t
        %td= link_to 'Show', pds_simplification
        %td= link_to 'Edit', edit_pds_simplification_path(pds_simplification)
        %td= link_to 'Destroy', pds_simplification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds simplification', new_pds_simplification_path
