%h1 Listing pds_malfunction_dims

%table
  %thead
    %tr
      %th Project
      %th Malfunction
      %th Character
      %th Target en
      %th Target
      %th Sd n
      %th Is main
      %th
      %th
      %th
      
  %tbody
    - @pds_malfunction_dims.each do |pds_malfunction_dim|
      %tr
        %td= pds_malfunction_dim.Project
        %td= pds_malfunction_dim.Malfunction
        %td= pds_malfunction_dim.Character
        %td= pds_malfunction_dim.Target_EN
        %td= pds_malfunction_dim.Target
        %td= pds_malfunction_dim.sd_N
        %td= pds_malfunction_dim.is_main
        %td= link_to 'Show', pds_malfunction_dim
        %td= link_to 'Edit', edit_pds_malfunction_dim_path(pds_malfunction_dim)
        %td= link_to 'Destroy', pds_malfunction_dim, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds malfunction dim', new_pds_malfunction_dim_path
