%p#notice= notice

%p
  %b Project:
  = @pds_malfunction_dim.Project
%p
  %b Malfunction:
  = @pds_malfunction_dim.Malfunction
%p
  %b Character:
  = @pds_malfunction_dim.Character
%p
  %b Target en:
  = @pds_malfunction_dim.Target_EN
%p
  %b Target:
  = @pds_malfunction_dim.Target
%p
  %b Sd n:
  = @pds_malfunction_dim.sd_N
%p
  %b Is main:
  = @pds_malfunction_dim.is_main

= link_to 'Edit', edit_pds_malfunction_dim_path(@pds_malfunction_dim)
\|
= link_to 'Back', pds_malfunction_dims_path
