= form_for @audit do |f|
  - if @audit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@audit.errors.count, "error")} prohibited this audit from being saved:"
      %ul
        - @audit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :table_name
    = f.text_field :table_name
  .field
    = f.label :tag_RU
    = f.text_field :tag_RU
  .field
    = f.label :tag_EN
    = f.text_field :tag_EN
  .field
    = f.label :sys
    = f.text_field :sys
  .field
    = f.label :field_changed
    = f.text_field :field_changed
  .field
    = f.label :id
    = f.number_field :id
  .field
    = f.label :old_value
    = f.text_area :old_value
  .field
    = f.label :new_value
    = f.text_area :new_value
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
