%p#notice= notice

%p
  %b Project:
  = @audit.Project
%p
  %b Table name:
  = @audit.table_name
%p
  %b Tag ru:
  = @audit.tag_RU
%p
  %b Tag en:
  = @audit.tag_EN
%p
  %b Sys:
  = @audit.sys
%p
  %b Field changed:
  = @audit.field_changed
%p
  %b Id:
  = @audit.id
%p
  %b Old value:
  = @audit.old_value
%p
  %b New value:
  = @audit.new_value
%p
  %b T:
  = @audit.t

= link_to 'Edit', edit_audit_path(@audit)
\|
= link_to 'Back', audits_path
