%p#notice= notice

%p
  %b Ic:
  = @pds_alarm.IC
%p
  %b Sys:
  = @pds_alarm.sys
%p
  %b Project:
  = @pds_alarm.Project
%p
  %b T:
  = @pds_alarm.t

= link_to 'Edit', edit_pds_alarm_path(@pds_alarm)
\|
= link_to 'Back', pds_alarms_path
