%h1 Listing pds_meters_digitals

%table
  %thead
    %tr
      %th Ic
      %th Sys
      %th Project
      %th Ctrl power
      %th T
      %th
      %th
      %th
      
  %tbody
    - @pds_meters_digitals.each do |pds_meters_digital|
      %tr
        %td= pds_meters_digital.IC
        %td= pds_meters_digital.sys
        %td= pds_meters_digital.Project
        %td= pds_meters_digital.ctrl_power
        %td= pds_meters_digital.t
        %td= link_to 'Show', pds_meters_digital
        %td= link_to 'Edit', edit_pds_meters_digital_path(pds_meters_digital)
        %td= link_to 'Destroy', pds_meters_digital, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds meters digital', new_pds_meters_digital_path
