%h1= title

%h2= index_view

#general_table

:javascript
  var title = "#{title}";

  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  var columns = [
  {"property":"id","header":"DocID", hidden: true},
  {"property":"Project","header":"Project", hidden: true},
  {"property":"DocTitle","header":"DocTitle", editor: 'stringEditor'},
  {"property":"Type","header":"Type", editor: 'stringEditor'},
  {"property":"NPP_Number","header":"NPP_Number", editor: 'stringEditor'},
  {"property":"Revision","header":"Revision", editor: 'stringEditor'},
  {"property":"reg_ID","header":"reg_ID", editor: 'stringEditor'},
  {"property":"getting_date","header":"getting_date", editor: 'dateEditor'},
  {"property":"DocTitle_EN","header":"DocTitle_EN", hidden: true},
  {"property":"Hardcopy","header":"Hardcopy", hidden: true},
  {"property":"File","header":"File", hidden: true},
  {"property":"t","header":"t", hidden: true}];