%h1= title

%h2= index_view

#general_table

:javascript
  var title = "#{title}";

  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  // todo: query selector
  var columns = [
  {"property":"id","header":"SimplID", hidden: true},
    {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"Project","header":"Project", hidden: true},
  {"property":"Numb","header":"Numb", editor: 'stringEditor'},
  {"property":"Описание","header":"Описание", editor: 'TextEditor'},
  {"property":"Описание(EN)","header":"Описание(EN)", editor: 'TextEditor'},
  {"property":"support","header":"support", editor: 'TextEditor'},
  {"property":"support_EN","header":"support_EN", editor: 'TextEditor'},
  {"property":"pds_query.queryNumber","header":"queryID", nested: true, attribute: 'pds_query_id' },
  {"property":"t","header":"t", hidden: true}
  ];