%h1 Listing contracts

%table
  %thead
    %tr
      %th Contr num
      %th Project
      %th State
      %th Date
      %th Desc
      %th
      %th
      %th
      
  %tbody
    - @contracts.each do |contract|
      %tr
        %td= contract.contr_Num
        %td= contract.Project
        %td= contract.state
        %td= contract.date
        %td= contract.Desc
        %td= link_to 'Show', contract
        %td= link_to 'Edit', edit_contract_path(contract)
        %td= link_to 'Destroy', contract, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contract', new_contract_path
