%p#notice= notice

%p
  %b System:
  = @pds_breakers60.System
%p
  %b Tag ru:
  = @pds_breakers60.tag_RU
%p
  %b Tag en:
  = @pds_breakers60.tag_EN
%p
  %b Desc ru:
  = @pds_breakers60.Desc_RU
%p
  %b Desc en:
  = @pds_breakers60.Desc_EN

= link_to 'Edit', edit_pds_breakers60_path(@pds_breakers60)
\|
= link_to 'Back', pds_breakers60s_path
