= form_for @pds_query do |f|
  - if @pds_query.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_query.errors.count, "error")} prohibited this pds_query from being saved:"
      %ul
        - @pds_query.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :sys
    = f.number_field :sys
  .field
    = f.label :queryNumber
    = f.text_field :queryNumber
  .field
    = f.label :query_make_date
    = f.date_select :query_make_date
  .field
    = f.label :answer_expected_date
    = f.date_select :answer_expected_date
  .field
    = f.label :query_essence
    = f.text_area :query_essence
  .field
    = f.label :engineer_N
    = f.number_field :engineer_N
  .field
    = f.label :query_transfer_date
    = f.date_select :query_transfer_date
  .field
    = f.label :answer_date
    = f.date_select :answer_date
  .field
    = f.label :answer_essence
    = f.text_area :answer_essence
  .field
    = f.label :who_answered
    = f.text_field :who_answered
  .field
    = f.label :if_close
    = f.check_box :if_close
  .field
    = f.label :Assumption
    = f.text_area :Assumption
  .field
    = f.label :t
    = f.datetime_select :t
  .actions
    = f.submit 'Save'
