.main-container-inner
  .table-info
    .title Проекты
    .info
      .left
        = "Всего записей #{@pds_projects.count} на 1 стр."
  .table-container.table-container-replace-hide
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Project Id
          %th Project number
          %th Project name
          %th Company
          %th Actions

      %tbody
        - @pds_projects.each do |pds_project|
          %tr
            %td= pds_project.ProjectID
            %td= pds_project.project_number
            %td= pds_project.project_name
            %td= pds_project.company.try :shortName
            %td
              = link_to 'Выбрать', pds_project, class: 'btn btn-xs btn-default'
              -#= link_to 'Изменить', edit_pds_project_path(pds_project), class: 'btn btn-xs btn-default'
              -#= link_to 'Удалить', pds_project, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

    %br

    = link_to 'Добавить проект', new_pds_project_path, class: 'btn btn-default'
