= form_for @pds_customer do |f|
  - if @pds_customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_customer.errors.count, "error")} prohibited this pds_customer from being saved:"
      %ul
        - @pds_customer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :AgreeName
    = f.text_field :AgreeName
  .field
    = f.label :t
    = f.datetime_select :t
  .field
    = f.label :AgreeJobTitle
    = f.text_field :AgreeJobTitle
  .field
    = f.label :AgreeJobTitle_EN
    = f.text_field :AgreeJobTitle_EN
  .field
    = f.label :AcceptedName1
    = f.text_field :AcceptedName1
  .field
    = f.label :AcceptedJobTitle1
    = f.text_field :AcceptedJobTitle1
  .field
    = f.label :AcceptedJobTitle1_EN
    = f.text_field :AcceptedJobTitle1_EN
  .field
    = f.label :AcceptedName2
    = f.text_field :AcceptedName2
  .field
    = f.label :AcceptedJobTitle2
    = f.text_field :AcceptedJobTitle2
  .field
    = f.label :AcceptedJobTitle2_EN
    = f.text_field :AcceptedJobTitle2_EN
  .field
    = f.label :Name
    = f.text_field :Name
  .actions
    = f.submit 'Save'
