%h1 Listing pds_customers

%table
  %thead
    %tr
      %th Project
      %th Agreename
      %th T
      %th Agreejobtitle
      %th Agreejobtitle en
      %th Acceptedname1
      %th Acceptedjobtitle1
      %th Acceptedjobtitle1 en
      %th Acceptedname2
      %th Acceptedjobtitle2
      %th Acceptedjobtitle2 en
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @pds_customers.each do |pds_customer|
      %tr
        %td= pds_customer.Project
        %td= pds_customer.AgreeName
        %td= pds_customer.t
        %td= pds_customer.AgreeJobTitle
        %td= pds_customer.AgreeJobTitle_EN
        %td= pds_customer.AcceptedName1
        %td= pds_customer.AcceptedJobTitle1
        %td= pds_customer.AcceptedJobTitle1_EN
        %td= pds_customer.AcceptedName2
        %td= pds_customer.AcceptedJobTitle2
        %td= pds_customer.AcceptedJobTitle2_EN
        %td= pds_customer.Name
        %td= link_to 'Show', pds_customer
        %td= link_to 'Edit', edit_pds_customer_path(pds_customer)
        %td= link_to 'Destroy', pds_customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds customer', new_pds_customer_path
