= form_for @pds_document do |f|
  - if @pds_document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pds_document.errors.count, "error")} prohibited this pds_document from being saved:"
      %ul
        - @pds_document.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :DocTitle
    = f.text_field :DocTitle
  .field
    = f.label :Code
    = f.text_field :Code
  .field
    = f.label :Author
    = f.number_field :Author
  .field
    = f.label :Project
    = f.number_field :Project
  .field
    = f.label :FileRu
    = f.text_field :FileRu
  .field
    = f.label :FileEn
    = f.text_field :FileEn
  .field
    = f.label :CheckOutRu
    = f.number_field :CheckOutRu
  .field
    = f.label :t
    = f.datetime_select :t
  .field
    = f.label :CheckOutEn
    = f.number_field :CheckOutEn
  .actions
    = f.submit 'Save'
