%h1 Listing pds_documents

%table
  %thead
    %tr
      %th Doctitle
      %th Code
      %th Author
      %th Project
      %th Fileru
      %th Fileen
      %th Checkoutru
      %th T
      %th Checkouten
      %th
      %th
      %th
      
  %tbody
    - @pds_documents.each do |pds_document|
      %tr
        %td= pds_document.DocTitle
        %td= pds_document.Code
        %td= pds_document.Author
        %td= pds_document.Project
        %td= pds_document.FileRu
        %td= pds_document.FileEn
        %td= pds_document.CheckOutRu
        %td= pds_document.t
        %td= pds_document.CheckOutEn
        %td= link_to 'Show', pds_document
        %td= link_to 'Edit', edit_pds_document_path(pds_document)
        %td= link_to 'Destroy', pds_document, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds document', new_pds_document_path
