%p#notice= notice

%p
  %b Doctitle:
  = @pds_document.DocTitle
%p
  %b Code:
  = @pds_document.Code
%p
  %b Author:
  = @pds_document.Author
%p
  %b Project:
  = @pds_document.Project
%p
  %b Fileru:
  = @pds_document.FileRu
%p
  %b Fileen:
  = @pds_document.FileEn
%p
  %b Checkoutru:
  = @pds_document.CheckOutRu
%p
  %b T:
  = @pds_document.t
%p
  %b Checkouten:
  = @pds_document.CheckOutEn

= link_to 'Edit', edit_pds_document_path(@pds_document)
\|
= link_to 'Back', pds_documents_path
