%p#notice= notice

%p
  %b Project:
  = @pds_sys_description.Project
%p
  %b Sys:
  = @pds_sys_description.sys
%p
  %b Description:
  = @pds_sys_description.Description
%p
  %b Description en:
  = @pds_sys_description.Description_EN
%p
  %b Shortdesc:
  = @pds_sys_description.shortDesc
%p
  %b Shortdesc en:
  = @pds_sys_description.shortDesc_EN

= link_to 'Edit', edit_pds_sys_description_path(@pds_sys_description)
\|
= link_to 'Back', pds_sys_descriptions_path
