%h1 Listing pds_drs

%table
  %thead
    %tr
      %th Sys
      %th Project
      %th Drnum
      %th Stage
      %th Drauthor text
      %th Drauthor
      %th Rfr
      %th Closed
      %th Createdate
      %th Exprespdate
      %th Query
      %th Reply
      %th Sentforrev
      %th Replyauthor text
      %th Replyauthor
      %th Closedby
      %th Openeddate
      %th Inprogressdate
      %th Replydate
      %th Closeddate
      %th Namedr
      %th Status
      %th Ic
      %th Powerstate
      %th Priority
      %th Disparity
      %th Commingresult
      %th
      %th
      %th
      
  %tbody
    - @pds_drs.each do |pds_dr|
      %tr
        %td= pds_dr.sys
        %td= pds_dr.Project
        %td= pds_dr.drNum
        %td= pds_dr.stage
        %td= pds_dr.drAuthor_text
        %td= pds_dr.drAuthor
        %td= pds_dr.rfr
        %td= pds_dr.closed
        %td= pds_dr.createDate
        %td= pds_dr.expRespDate
        %td= pds_dr.query
        %td= pds_dr.reply
        %td= pds_dr.sentForRev
        %td= pds_dr.replyAuthor_text
        %td= pds_dr.replyAuthor
        %td= pds_dr.closedBy
        %td= pds_dr.openedDate
        %td= pds_dr.inprogressDate
        %td= pds_dr.replyDate
        %td= pds_dr.closedDate
        %td= pds_dr.NameDr
        %td= pds_dr.Status
        %td= pds_dr.IC
        %td= pds_dr.PowerState
        %td= pds_dr.Priority
        %td= pds_dr.Disparity
        %td= pds_dr.CommingResult
        %td= link_to 'Show', pds_dr
        %td= link_to 'Edit', edit_pds_dr_path(pds_dr)
        %td= link_to 'Destroy', pds_dr, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pds dr', new_pds_dr_path
