%p#notice= notice

%p
  %b Sys:
  = @pds_dr.sys
%p
  %b Project:
  = @pds_dr.Project
%p
  %b Drnum:
  = @pds_dr.drNum
%p
  %b Stage:
  = @pds_dr.stage
%p
  %b Drauthor text:
  = @pds_dr.drAuthor_text
%p
  %b Drauthor:
  = @pds_dr.drAuthor
%p
  %b Rfr:
  = @pds_dr.rfr
%p
  %b Closed:
  = @pds_dr.closed
%p
  %b Createdate:
  = @pds_dr.createDate
%p
  %b Exprespdate:
  = @pds_dr.expRespDate
%p
  %b Query:
  = @pds_dr.query
%p
  %b Reply:
  = @pds_dr.reply
%p
  %b Sentforrev:
  = @pds_dr.sentForRev
%p
  %b Replyauthor text:
  = @pds_dr.replyAuthor_text
%p
  %b Replyauthor:
  = @pds_dr.replyAuthor
%p
  %b Closedby:
  = @pds_dr.closedBy
%p
  %b Openeddate:
  = @pds_dr.openedDate
%p
  %b Inprogressdate:
  = @pds_dr.inprogressDate
%p
  %b Replydate:
  = @pds_dr.replyDate
%p
  %b Closeddate:
  = @pds_dr.closedDate
%p
  %b Namedr:
  = @pds_dr.NameDr
%p
  %b Status:
  = @pds_dr.Status
%p
  %b Ic:
  = @pds_dr.IC
%p
  %b Powerstate:
  = @pds_dr.PowerState
%p
  %b Priority:
  = @pds_dr.Priority
%p
  %b Disparity:
  = @pds_dr.Disparity
%p
  %b Commingresult:
  = @pds_dr.CommingResult

= link_to 'Edit', edit_pds_dr_path(@pds_dr)
\|
= link_to 'Back', pds_drs_path
