%h1 Listing accs

%table
  %thead
    %tr
      %th Project
      %th Ped
      %th Name
      %th Number
      %th Sh
      %th Sv
      %th Tag no
      %th Store
      %th Scale min
      %th Scale max
      %th Unit
      %th Mp cmemo
      %th Pa
      %th
      %th
      %th
      
  %tbody
    - @accs.each do |acc|
      %tr
        %td= acc.Project
        %td= acc.ped
        %td= acc.Name
        %td= acc.number
        %td= acc.SH
        %td= acc.SV
        %td= acc.tag_no
        %td= acc.store
        %td= acc.scale_min
        %td= acc.scale_max
        %td= acc.Unit
        %td= acc.MP_CMEMO
        %td= acc.pa
        %td= link_to 'Show', acc
        %td= link_to 'Edit', edit_acc_path(acc)
        %td= link_to 'Destroy', acc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Acc', new_acc_path
