%h1 Listing hw_iosignaldefs

%table
  %thead
    %tr
      %th Ioname
      %th Memtype
      %th Rem
      %th
      %th
      %th
      
  %tbody
    - @hw_iosignaldefs.each do |hw_iosignaldef|
      %tr
        %td= hw_iosignaldef.ioname
        %td= hw_iosignaldef.memtype
        %td= hw_iosignaldef.rem
        %td= link_to 'Show', hw_iosignaldef
        %td= link_to 'Edit', edit_hw_iosignaldef_path(hw_iosignaldef)
        %td= link_to 'Destroy', hw_iosignaldef, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hw iosignaldef', new_hw_iosignaldef_path
