- content_for :content_dr do
  #dr_table

  = yield

  :javascript
    var project = #{project.serializable_hash.to_json};
    var title = "#{title}";
    var data = #{table_data};
    var model_name = "#{hash_model_name}";
    var model_path = "#{model_path}";
    var current_user = #{current_user.to_json};

= render file: 'layouts/application'


