- content_for :content do
  #general_table

  = yield

  :javascript
    var project = #{project.to_json};
    var title = "#{title}";
    var data = #{table_data};
    var model_name = "#{hash_model_name}";

= render file: 'layouts/application'